.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.header {
    background-color: rgb(50, 141, 138);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.menuOption {
    margin: 0px 10px;
    cursor: pointer;
    text-decoration: none !important;
    color: white !important;
}

.mobileMenu {
    height: 100%;
    width: 100%;
    background-color: rgb(50, 141, 138);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin:auto;
}

.active {
    display: flex;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.hamburgerLine {
    width: 30px;
    height: 4px;
    background-color: black;

}

.desktopMenu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2, .menuOption {
    user-select: none;
}

@media all and (min-width: 700px) {
    .desktopMenu {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .mobileMenu {
        display: none;
    }
}