@import 'c/styleResource';

.property {
    background-color: var(--main-bg-color);
    color:white;
    border-radius: 30px;
    box-shadow: 5px 10px 15px black;
    padding: 30px;
    max-width: 300px;
    margin: 20px;
}