.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.header {
    background-color: rgb(50, 141, 138);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.optionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menuOption {
    margin: 0px 10px;
    cursor: pointer;
}